
/* ------------------------------  home.html ------------------------------*/
.logo {
  text-align: center;
}

.container {
  display: flex;
}

.innerContainer {
  margin: auto;
}

.thBox {
  border: 1px solid #ccc;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 1%;
}

.dropInput {
  margin-bottom: 1%;
  border: 1px solid #ccc;
  padding-top: 2%;
  padding-bottom: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropInput select {
  margin-right: 1%;
}

.dropInput button {
  margin-left: 1%;
}

.table>tbody>tr>td {
  border: none;
}

.trBox {
  border: 1px solid #ccc;
}

.tdInfo {
  border-left: 1px solid #ccc !important;
}

.imageBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.table {
  table-layout:fixed;
}

.table td {
  overflow: hidden;
}

/* ------------------------------  checkout.html ------------------------------*/

.checkoutTop {
  display: flex;
  justify-content: center;
  align-items: center;
}
